body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

.header {
    padding:16px;
    width:100%;
    color: white;
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    padding-bottom:20px;
    font-size:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 650px;
}

.logo {
    font-weight:bold;
}

.headtxt{
    font-size: 48px;
    font-weight: extra-bold;
    
}

.sectxt {
    font-size: 18px;
}

.headp {
    margin-top: -50px;
    height:300px;
    width:400px;
    
}

.cimage {
    height : 300px;
    width: 600px;
}

.headimg {
    margin-bottom:100px;
    margin-top:100px;
    display: flex;
    flex-direction: row;
    gap:100px;
}

.headbtn{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
    width:100px;
    height:auto;
    border: 1px solid royalblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:15px;
    color: white;
}

.info {
    text-align: center;
    padding:16px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 600;
    margin:30px;
    font-size:24px;
}
.container {
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    gap:32px;
}

.cardimg {
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-style: solid;
    border-radius:9px;
    margin: auto;
    padding-bottom:5px;
    align-self:flex-start;
}

.card {
    width:300px;
    height: 300px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .text {
    align-self:flex-end;
  }
  

.quote{
    background-color: #E5E7EB;
    width:100%;
    display:flex;
    justify-content: center;
}

.quotetxt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-self:flex-end;
}

.qcontainer {
    margin:140px;
    width:40%;
    display:flex;
    flex-direction:column;
}

.signup {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.signbox{
    margin:100px;
    border-radius: 8px;
    height: 200px;
    width:70%;
    color:white;
    background-color: #3882F6;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:300px;
}

.signbtn{
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    color:white;
    font-size:20px;
    border-width:3px;
    border-radius: 8px;
    padding: 8px 16px;
    width:150px;
    height:50px;
    align-self: center;
}

.action{
    margin-top:-30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.signtitle{
    font-size: 36px;
    font-weight:bold;
}

.signtxt {
    font-size:24px;
}

.footer {
    padding:50px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    gap: 9px;
}